services:
  api:
    build: .
    container_name: fastapi_api
    env_file:
      - .env
    ports:
      - "8000:8000"
    volumes:
      - ./app:/app/app
    command: python -m uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
    depends_on:
      - mongo
  
  mongo:
    image: mongo:7
    container_name: mongo_db
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    restart: unless-stopped

volumes:
  mongo_data: