services:
  api:
    build: .
    container_name: fastapi_api
    env_file:
      - .env
    ports:
      - "8000:8000"
    volumes:
      - ./app:/app/app
    command: python -m uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
    depends_on:
      - mongo
  
  mongo:
    image: mongo:7
    container_name: mongo_db
    command: ["mongod", "--replSet", "rs0", "--bind_ip_all"]
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    restart: unless-stopped

  mongo-init-replica:
    image: mongo:7
    depends_on:
      - mongo
    restart: "no"
    entrypoint: >
      bash -c "
        sleep 5 &&
        mongosh --host mongo:27017 --eval '
          try {
            rs.status()
          } catch (e) {
            rs.initiate({
              _id: \"rs0\",
              members: [{ _id: 0, host: \"mongo:27017\" }]
            })
          }
        '
      "

  minio:
    image: quay.io/minio/minio:latest
    container_name: minio
    environment:
      MINIO_ROOT_USER: admin
      MINIO_ROOT_PASSWORD: admin123
      MINIO_DEFAULT_BUCKETS: storage-photos
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio_data:/data
    command: server /data --console-address :9001
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
      interval: 30s
      timeout: 20s
      retries: 3

volumes:
  mongo_data:
  minio_data: